.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Marquee effect for scrolling the counties list */
@keyframes marquee {
  0% {
    transform: translateX(100%); /* Start from the right */
  }
  100% {
    transform: translateX(-100%); /* Move to the left */
  }
}

.animate-marquee {
  animation: marquee 10s linear infinite;
  white-space: nowrap; /* Ensure text doesn't wrap */
  display: inline-block; /* Keeps the counties on one line */
}

/* Parent container for the scrolling counties */
.marquee-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; /* Ensure full width */
  overflow: hidden; /* Hide the overflowing content */
  padding-bottom: 10px; /* Add space below the badge */
  background-color: #282c34; /* Match background color */
}

/* The counties list that scrolls horizontally */
.scrollable-counties {
  display: inline-block;
  animation: marquee 10s linear infinite; /* Apply the scrolling animation */
  color: #b0b0b0; /* Text color */
  font-size: 12px;
}

.text-xs strong {
  font-weight: bold;
}

